* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
 font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
}

.header {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  padding: 20px 10px;
  margin: 0 auto;
  gap: 16px;
}

.container .box {
  max-width: 400px;
  width: 100%;
  border: 2px solid orange;
  border-radius: 16px;
  padding: 10px;
}

img {
  float: left;
  margin: 16px;
  height: 80px;
  width: 75px;
}
.apply {
  margin-top: -10px;
  font-size: 1.5rem;
  padding-top: 30px;
}
.info {
  padding-top: 20px;
}

.link {
  /* padding-left: 20px; */
  /* padding-top: 16px; */
}
.space {
  display: flex;
  justify-content: space-between;
  margin: 30px 16px 0;
}



